<div
  class="surface-50 px-4 md:px-6 lg:px-8 border-1 surface-border border-x-none"
>
  <div class="flex flex-wrap md:text-left">
    <div
      class="col-12 sm:col-6 md:col-4 lg:col-3 flex flex-column mt-2 py-4 px-4 border-bottom-1 lg:border-y-none md:border-right-1 surface-border"
    >
      <span class="text-900 text-xl block">Company</span>
      <ul class="list-none p-0">
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >About Peak</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Factories</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Careers</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Environmental Initiatives</a
          >
        </li>
      </ul>
    </div>
    <div
      class="col-12 sm:col-6 md:col-4 lg:col-3 flex flex-column mt-2 py-4 px-4 border-bottom-1 lg:border-y-none md:border-right-1 surface-border"
    >
      <span class="text-900 text-xl block">Account</span>
      <ul class="list-none p-0">
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Manage Account</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Saved Items</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >My Cart</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Wishlist</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Orders &amp; Returns</a
          >
        </li>
      </ul>
    </div>
    <div
      class="col-12 sm:col-6 md:col-4 lg:col-3 flex flex-column mt-2 py-4 px-4 border-bottom-1 lg:border-y-none lg:border-right-1 surface-border"
    >
      <span class="text-900 text-xl block">Legal</span>
      <ul class="list-none p-0">
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Investor Relations</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Data Privacy</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Terms of Service</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Legal Information</a
          >
        </li>
      </ul>
    </div>
    <div
      class="col-12 sm:col-6 md:col-4 lg:col-3 flex flex-column mt-2 py-4 px-4 mb-4 lg:mb-0"
    >
      <span class="text-900 text-xl block">Subscribe</span
      ><span class="text-500 block mt-4 line-height-3"
        >Join our community to receieve the latest updates and special
        promotions.</span
      >
      <div class="p-inputgroup mt-3 mx-auto lg:mx-0" style="max-width: 30rem">
        <button
          type="button"
          pbutton=""
          icon="pi pi-envelope"
          class="p-element text-500 surface-100 surface-border p-button p-component p-button-icon-only"
        >
          <span
            class="p-button-icon pi pi-envelope"
            aria-hidden="true"
          ></span></button
        ><input
          type="text"
          pinputtext=""
          placeholder="Email"
          class="p-inputtext p-component p-element border-y-1 text-500 border-x-none surface-border"
        /><button
          type="button"
          pbutton=""
          icon="pi pi-arrow-right"
          class="p-element text-500 surface-100 surface-border p-button p-component p-button-icon-only"
        >
          <span
            class="p-button-icon pi pi-arrow-right"
            aria-hidden="true"
          ></span>
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="surface-section px-3 py-4 lg:px-8 flex flex-column lg:flex-row justify-content-between align-items-center"
>
  <div class="col-fixed flex flex-wrap flex-order-1 lg:flex-order-0">
    <img
      src="https://blocks.primeng.org/assets/images/blocks/ecommerce/storefront/storefront-1-21.svg"
      alt="Amex"
      class="w-3rem mr-3"
    /><img
      src="https://blocks.primeng.org/assets/images/blocks/ecommerce/storefront/storefront-1-22.svg"
      alt="Apple Pay"
      class="w-3rem mr-3"
    /><img
      src="https://blocks.primeng.org/assets/images/blocks/ecommerce/storefront/storefront-1-23.svg"
      alt="Mastercard"
      class="w-3rem mr-3"
    /><img
      src="https://blocks.primeng.org/assets/images/blocks/ecommerce/storefront/storefront-1-25.svg"
      alt="Visa"
      class="w-3rem mr-3"
    /><img
      src="https://blocks.primeng.org/assets/images/blocks/ecommerce/storefront/storefront-1-24.svg"
      alt="PayPal"
      class="w-3rem"
    />
  </div>
  <div class="col-fixed flex align-items-center flex-order-0 lg:flex-order-1">
    <a tabindex="0" class="cursor-pointer mr-3"
      ><i class="pi pi-facebook surface-900 p-1 rounded-full text-0"></i></a
    ><a tabindex="0" class="cursor-pointer mr-3"
      ><i class="pi pi-twitter surface-900 p-1 rounded-full text-0"></i></a
    ><a tabindex="0" class="cursor-pointer mr-3"
      ><i class="pi pi-youtube surface-900 p-1 rounded-full text-0"></i></a
    ><a tabindex="0" class="cursor-pointer"
      ><i class="pi pi-google surface-900 p-1 rounded-full text-0"></i
    ></a>
  </div>
</div>
